
@import url('https://fonts.googleapis.com/css?family=Raleway');

@import url('https://fonts.googleapis.com/css?family=Stylish');

html, body{
	min-height:100%;
}
body{
	background: pink;
}

h1{
	font-family: 'Raleway', sans-serif;
}
}

h2{
	
	font-family: 'Stylish', sans-serif;
	

}

#menu{
	position: fixed;
	bottom:2rem;
	right:2.5rem;
}

.bg-azul{
	background:rgba(255,110,174);
}